.image-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image-titles {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image-titles > h4 {
	font-weight: normal;
	margin-left: 1rem;
	padding-top: 0.5rem;
}

.back-button {
	border-radius: 0.5rem;
	padding: 0.5em;
	border-color: black;
	background-color: white;
}

.image-details img {
	max-width: 100%;
}

@media (max-width: 768px) {
	h1 {
		font-size: 2rem;
	}

	h4 {
		font-size: 1.5rem;
	}
}
