.Form {
	--color-border: #000;
	display: flex;
	font-size: 1.2em;
	flex-direction: column;
}

@media (prefers-color-scheme: dark) {
	.Form {
		--color-border: hsl(0 0% 83% / 1);
	}
}

.Form .button,
.Form .input {
	padding: 0.5em;
	border-radius: 0.5rem;
}

.Form .button {
	margin-top: 0.25em;
	background-color: #000;
	color: white;
}

.Form .input {
	border: 1px solid var(--color-border);
	text-align: center;
}
